
# Certain data 


*.html



data_for_calver/

*/*/.DS_Store


# Prevent users to commit their own .RData and .Rhistory in mutual area
.RData
.Rhistory
.Rapp.history
*.html
# Temporary files
*~
~$*.doc*
~$*.xls*
*.xlk
~$*.ppt*
*.m~
*.DS*
# Prevent mac users to commit .DS_Store files
*.DS_Store
# Prevent users to commit the README files created by RStudio
*README.html
*README_cache/
#*README_files/

# Prevent users to commit output
out/

# data directories
Figs/
data/dev
data/calver
data/*.mat
data/*Rdata
iaaft_data/


data/misc_queries/*
data/misc_queries/.DS_Store
data/misc_queries/20201203_Robin_DOBs_Eyetracking.xlsx
data/misc_queries/cohort-2020-12-07.csv
data/misc_queries/age-2020-12-03.csv

*.Rproj*
.Rproj.user
data/individual_data/.DS_Store
*.R
data/individual_data/.DS_Store

scripts/*cache/
scripts/*files/
scripts/*Rdata

tables/

