
# Certain data 


*.html



data_for_calver/

.DS_Store


# Prevent users to commit their own .RData and .Rhistory in mutual area
.RData
.Rhistory
.Rapp.history
*.html
# Temporary files
*~
~$*.doc*
~$*.xls*
*.xlk
~$*.ppt*
*.m~
*.DS*
# Prevent mac users to commit .DS_Store files
*.DS_Store
# Prevent users to commit the README files created by RStudio
*README.html
*README_cache/
#*README_files/

# Prevent users to commit output
out/

# data directories
Figs/
#data/individual_data/.DS_Store
data/settings/
data/individual_data/
data/settings.mat
data/Dissertation_ParticList.csv
data/dev
data/*.txt
data/*.mat
data/*.csv

settings/settings_scmin4_scres4.mat
settings/settings_scmin8_scres8.mat
data/individual_data/JE000053_03_06/h.mat

data/misc_queries/*
data/misc_queries/.DS_Store
data/misc_queries/20201203_Robin_DOBs_Eyetracking.xlsx
data/misc_queries/cohort-2020-12-07.csv
data/misc_queries/age-2020-12-03.csv

data_audit/*_files/
data_audit/*_cache/
data_audit/slurm_out_preptobii.R
data_audit/FileAudit
data_audit/*.csv
